.upload-form {
  padding: 30% 20px;
  border: 7px dashed #0088ef;
  text-align: center;
}

.upload-preview {
  text-align: center;
  margin-top: 10px;
}

.upload-preview img {
  max-width: 90%;
  height: auto;
}
