.upload-form {
  padding: 30% 20px;
  border: 7px dashed #0088ef;
  text-align: center;
}

.text-fields {
  width: 60%;
  float: left;
}

.size-fields {
  color: rgba(0, 0, 0, 0.87);
  float: right;
}

.size-fields > div {
  padding-top: 20px;
}

.radio-group {
  padding: 0 20px;
}

.form-field {
  padding: 10px;
}

.dialog-title {
  height: 30px;
}

.helper-text {
  font-size: 12px;
}